@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase

<div>
    <header class="sticky-top">
        <NavMenu />
    </header>

    <main class="main-content">
        <div class="container-fluid py-3">
            @Body
        </div>
    </main>

    <footer>
        <StatusBar />
    </footer>
</div>